.node-red/.flows_960193-NB01.json.backup
[{"id":"a1730406.f49998","type":"tab","label":"Flow 1"},{"id":"33e2099.ff8c7f6","type":"tab","label":"Flow 2"},{"id":"da1533b5.938b3","type":"tab","label":"Flow 3"},{"id":"f01229b8.c5bc28","type":"mqtt-broker","z":"","broker":"emqs-blazing.giotgateway.com ","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c429d304.685e6","type":"cloudant","z":"","host":"https://hyper5798.cloudant.com","name":"test"},{"id":"c0df8bf2.57c2d8","type":"websocket-listener","z":"","path":"/ws/tools","wholemsg":"false"},{"id":"59de4ec2.c688d","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"17756b05.5a75d5","type":"cloudant","z":"","host":"https://hyper5798.cloudant.com","name":"My Cloudant DB"},{"id":"cfa3b6e.0307048","type":"ui_group","z":"","name":"溫度","tab":"b83b823b.d4c5e","order":1,"disp":true,"width":"6"},{"id":"fba8443.8589db8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service9","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"604b7559.cd36ac","type":"ui_group","z":"","name":"溼度","tab":"b83b823b.d4c5e","order":2,"disp":true,"width":"6"},{"id":"90fb6e7c.e230c","type":"ui_group","z":"","name":"壓力","tab":"b83b823b.d4c5e","order":5,"disp":true,"width":"6"},{"id":"efe2ac74.39674","type":"ui_group","z":"","name":"照明","tab":"b83b823b.d4c5e","order":4,"disp":true,"width":"6"},{"id":"eccbcc9f.bb681","type":"ui_group","z":"","name":"UV","tab":"b83b823b.d4c5e","order":3,"disp":true,"width":"6"},{"id":"c4af6e6f.3b2dd","type":"ui_group","z":"","name":"雨滴","tab":"b83b823b.d4c5e","order":6,"disp":true,"width":"6"},{"id":"b83b823b.d4c5e","type":"ui_tab","z":"","name":"微型氣象站","icon":"dashboard","order":1},{"id":"c6a94358.d6407","type":"function","z":"a1730406.f49998","name":"Save last device information ","func":"//var payload = msg.payload;// for test\nvar moment = context.global. momentModule;\n\nvar payload = JSON.parse(msg.payload);  // for MQTT\n//node.warn('Save last device information -> payload.macAddr :'+payload.macAddr);\nif(payload.macAddr==='000000000501013e'){\n    context.global['000000000501013e'] = msg.payload;\n}else if( payload.mac==='000000000501012d'){\n    context.global['000000000501012d'] = msg.payload;\n}else if( payload.mac==='000000000501014b'){\n    context.global['000000000501014b'] = msg.payload;\n}else if( payload.mac==='0000000005010129'){\n    context.global['0000000005010129'] = msg.payload;\n}\nif(context.global.devices === undefined){\n    context.global.devices = {};\n}\nvar type = ['gps','pir','pm25','flood'];\nif(context.global.type === undefined){\n    context.global.types = type;\n}\nfor(var i=0;i<type.length;i++){\n    if(context.global.devices[type[i]] === undefined){\n        context.global.devices[type[i]] = {};\n    }\n}\nvar mMac = payload.macAddr;\n\n//console.log(\"payload type: \"+typeof(payload ));        //JSON Object\n//console.log(\"msg.payload type: \"+typeof(msg.payload));//Message string\n\nvar mData = payload.data;\nvar mMac = payload.macAddr;\nvar mRecv = moment(payload.recv).format('YYYY/MM/DD HH:mm:ss');\n//console.log(\"date : \"+mRecv);\nvar mTimestamp = new Date(mRecv).getTime();\n\nmsg.payload = {mac:mMac,data:mData,recv:mRecv,timestamp:mTimestamp};\n\n \nmsg.payload.gwip = payload.extra.gwip;\nmsg.payload.gwid = payload.extra.gwid;\nmsg.payload.repeater = payload.extra.repeater;\nmsg.payload.rssi = payload.extra.rssi;\nmsg.payload.snr = payload.extra.snr;\nmsg.payload.channel = payload.extra.channel;\nmsg.payload.fport = payload.extra.fport;\nmsg.payload.sf = payload.extra.sf;\nmsg.payload.overtime = false;\n\n//context.global.devices.gps[mMac] = msg.payload;\nvar type_index = 0;\nif(msg.payload.fport === 3){\n    type_index = 0;\n}else if(msg.payload.fport === 11){\n    type_index = 2;\n}if(msg.payload.fport === 19){\n    type_index = 1;\n}else if(msg.payload.fport === 21){\n   type_index = 3;\n}\n//Save data to globe context\ncontext.global.devices[type[type_index]][mMac] = msg.payload;\n/*console.log(\"context.global.devices [\"+mMac+\"]: \"+ JSON.stringify(context.global.devices.pir[mMac]));\nconsole.log(\"context.global.devices: \"+ Object.keys(context.global.devices).length);\nconsole.log(\"context.global.devices.pir: \"+ Object.keys(context.global.devices.pir).length);\nconsole.log(\"context.global.devices.gps: \"+ Object.keys(context.global.devices.gps).length);\nconsole.log('context.global.devices:'+ context.global.devices );\nconsole.log(\"context.global.devices [\"+mMac+\"]: \"+ JSON.stringify(context.global.devices));*/\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":660,"y":100,"wires":[["601a421.8956cbc","79765bdc.033a34"]]},{"id":"abf72ec7.8a076","type":"inject","z":"a1730406.f49998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":600,"wires":[["4c5dfad0.478964"]]},{"id":"4c5dfad0.478964","type":"function","z":"a1730406.f49998","name":"Clean all of last devices data","func":"context.global.devices = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":600,"wires":[[]]},{"id":"236f2105.23d65e","type":"inject","z":"a1730406.f49998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":520,"wires":[["152f2c80.3f3e34"]]},{"id":"152f2c80.3f3e34","type":"function","z":"a1730406.f49998","name":"Show all of last devices data","func":"var type = ['gps','pir','pm25','flood'];\nfor(var i=0;i<type.length;i++){\n    console.log( type[i]+'--------------------------------------------------------------------');\n    for (var mac in context.global.devices[type[i]])\n    {\n      console.log( mac + ': ' + JSON.stringify(context.global.devices[type[i]][mac]));\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":520,"wires":[[]]},{"id":"272f905b.6d615","type":"mqtt in","z":"a1730406.f49998","name":"MQTT","topic":"df.blazing-mqtt.uldata","qos":"2","broker":"f01229b8.c5bc28","x":70,"y":80,"wires":[["56d2c205.66145c","4112ad7b.26c9e4"]]},{"id":"601a421.8956cbc","type":"switch","z":"a1730406.f49998","name":"","property":"payload.fport","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":5,"x":210,"y":340,"wires":[["4c5db92f.6b2718"],["eacd574a.b2f318"],["f116df1e.d3de1"],["a5a882c2.067ad"],[]]},{"id":"4c5db92f.6b2718","type":"function","z":"a1730406.f49998","name":"Parse 1","func":"var payload = msg.payload;\nvar raw = payload.data;\nvar ret = getTracker(raw);\n\nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getTracker(raw) {\n\n    if (raw.length !== 34)  {\n      throw Error('Not a tracker data');\n    }\n    var buff = new Buffer(raw, 'hex');\n    var CustomerID = buff[0];\n    var ProductID = buff[1];\n    var DeviceType = buff[2];\n    var report = buff[3] & 0x1F   // 0x10 : report ; 0x11 : panic ; 0x12 : alarm\n    var operationID = buff[3] & 0x40  // 0x40 : auto-send\n\n    var gps_sta = (buff[7] & 0x80) ? \"1\" : \"0\";\n\n    /* latitude */\n    var north_flag = (buff[7] & 0x40) ? 1 : -1;\n\n    buff[7] &= 0x3F;\n    var lat = buff.readUInt32LE(4),\n        lat_degree = Math.floor(lat / 10000000),\n        lat_remainder = (lat % 10000000)/(60*100000);\n\n    lat = lat_degree + lat_remainder;\n    if(lat !== 0) {\n        lat *= north_flag;\n    }\n    /* longitude */\n    var east_flag = (buff[11] & 0x80) ? 1 : -1;\n    buff[11] &= 0x7F;\n    var lng = buff.readUInt32LE(8),\n        lng_degree = Math.floor(lng / 10000000),\n        lng_remainder = (lng % 10000000)/(60*100000);\n    lng = lng_degree + lng_remainder;\n    if(lng !== 0) {\n        lng *= east_flag;\n    }\n\n    /* GPS time */\n    var gps_day = ((buff[14] >> 2) & 0x1F).toString();\n    buff[14] &= 0x03;\n    var gps_time = (buff.readUInt32LE(12) & 0x3FFFF).toString();\n    if(gps_time.length === 5) {\n        gps_time = \"0\" + gps_time;\n    }\n\n    var ret = {\n        CustomerID : CustomerID,\n        ProductID  : ProductID,\n        DeviceType : DeviceType,\n        report     : report,\n        operationID: operationID,\n        GPS_STA    : gps_sta,\n        GPS_N      : lat,\n        GPS_E      : lng,\n        gps_day    : gps_day,\n        gps_time   : gps_time\n    };\n\n    if(report === 0x11) {\n        var panic_flag = (buff[16] & 0x01).toString();\n        ret.panic_flag = panic_flag;\n    }\n    else {\n        /* battery */\n        var battery = ( buff[16] * 10 + 3000 ) / 1000;\n        ret.BATL = battery.toString();\n    }\n\n    return ret;\n\n\n}","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["89f79bb6.f07458"]]},{"id":"eacd574a.b2f318","type":"function","z":"a1730406.f49998","name":"Parse 2","func":"var payload = msg.payload;\nvar raw = payload.data;\nvar ret =getPir(raw);\n\nmsg.payload.information = ret;\ncontext.global.pir = msg.payload;\n\n\nreturn msg;\n\nfunction getPir(raw) {\n\n    if (raw.length !== 14)  {\n      throw Error('Not a PIR data');\n    }\n    var buff = new Buffer(raw, 'hex');\n    var trigger = (buff[6] & 0x02) ? \"1\" : \"0\";  //PB7\n\n    var ret = {\n        trigger      : trigger/*,\n        BATL : batteryLevel*/\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["89f79bb6.f07458"]]},{"id":"f116df1e.d3de1","type":"function","z":"a1730406.f49998","name":"Parse 3","func":"var payload = msg.payload;\nvar raw = payload.data;\nvar ret = getPM25(raw);\n\nmsg.payload.information = ret;\ncontext.global.pm25 = msg.payload;\n\nreturn msg;\n\nfunction getPM25(raw) {\n\n    if (raw.length !== 10)  {\n      throw Error('Not a PM2.5 data');\n    }\n    var buff = new Buffer(raw, 'hex');\n    var value = (buff[1]*256 + buff[2])/1024*5*900;\n    var batteryLevel = (buff[0] * (83/56) / 10).toString();\n\n    var ret = {\n        value        : value,\n        BATL : batteryLevel\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["89f79bb6.f07458"]]},{"id":"a5a882c2.067ad","type":"function","z":"a1730406.f49998","name":"Parse 4","func":"var payload = msg.payload;\nvar raw = payload.data;\nvar ret = getFlood(raw);\n\nmsg.payload.information = ret;\ncontext.global.flood = msg.payload;\n\nreturn msg;\n\nfunction getFlood(raw) {\n\n   if (raw.length !== 14)  {\n      throw Error('Not a Flood data');\n    }\n    var buff = new Buffer(raw, 'hex');\n    //var batteryLevel = (buff[1] / 10 ).toString();\n    var batteryLevel = (buff.readUInt16BE(2) * (83/56) / 10).toString();\n    var trigger = (buff[6] & 0x02) ? \"1\" : \"0\";\n\n    var ret = {\n        trigger      : trigger,\n        BATL : batteryLevel\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["89f79bb6.f07458"]]},{"id":"89f79bb6.f07458","type":"change","z":"a1730406.f49998","name":"Delete overtime","rules":[{"t":"delete","p":"payload.overtime","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["b9151216.84de","e261a9bf.fe79e8","8680473d.d87088"]]},{"id":"b9151216.84de","type":"debug","z":"a1730406.f49998","name":"","active":false,"console":"false","complete":"false","x":820,"y":280,"wires":[]},{"id":"7d1fa468.454dcc","type":"comment","z":"a1730406.f49998","name":"Cloduant SN","info":"Key:horthindightmallynotepte\nPassword:de5777e21d05261b546161a4cf8d5e050025944c\n","x":210,"y":460,"wires":[]},{"id":"e261a9bf.fe79e8","type":"cloudant out","z":"a1730406.f49998","name":"test","cloudant":"c429d304.685e6","database":"test","service":"_ext_","payonly":true,"operation":"insert","x":810,"y":340,"wires":[]},{"id":"5dabb00b.e00fc","type":"function","z":"a1730406.f49998","name":"Add  data for test","func":"var type = ['gps','pir','pm25','flood'];\nvar pirKeys = Object.keys(context.global.devices.pir);\n\nvar payload = context.global.devices.pir[pirKeys[0]];\nconsole.log('pirKeys : '+JSON.stringify(pirKeys));\nconsole.log('payload : '+JSON.stringify(payload));\n\nfor(var i=6;i<100;i++){\n    payload.item = i;\n    payload.mac = i.toString();\n    context.global.devices.pir[i.toString()] = payload;\n    console.log('payload : '+JSON.stringify(context.global.devices.pir[\"myMac\"+i]));\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":680,"wires":[[]]},{"id":"f365e8f4.a1db18","type":"inject","z":"a1730406.f49998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":680,"wires":[["5dabb00b.e00fc"]]},{"id":"c6b9fb64.f35088","type":"function","z":"a1730406.f49998","name":"Get finalList","func":"//node.warn('@@@ save paylaod:');\nvar payload = context.global.devices;\n//console.log('@@@ save paylaod:'+JSON.stringify(payload));\nmsg.payload = payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":40,"wires":[["51c5f6f1.1298b8"]]},{"id":"51c5f6f1.1298b8","type":"file","z":"a1730406.f49998","name":"Write File","filename":"data\\finalList.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1240,"y":40,"wires":[]},{"id":"79765bdc.033a34","type":"delay","z":"a1730406.f49998","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":40,"wires":[["c6b9fb64.f35088"]]},{"id":"8680473d.d87088","type":"file in","z":"a1730406.f49998","name":"","filename":"data\\finalList.json","format":"utf8","x":960,"y":460,"wires":[[]]},{"id":"d61c708e.6790a","type":"inject","z":"a1730406.f49998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":750,"y":480,"wires":[["8680473d.d87088"]]},{"id":"56d2c205.66145c","type":"function","z":"a1730406.f49998","name":"Check final list","func":"if(context.global.devices){\n    //node.warn(context.global.devices);\n    return [msg,null];\n}else{\n    context.global.tempRequestMsg = msg;\n    return [null,msg]\n}\n","outputs":"2","noerr":0,"x":320,"y":80,"wires":[["c6a94358.d6407"],["8220b1fc.ede0e"]]},{"id":"8220b1fc.ede0e","type":"file in","z":"a1730406.f49998","name":"Read File","filename":"data\\finalList.json","format":"utf8","x":320,"y":140,"wires":[["a089bf0c.8788e"]]},{"id":"a089bf0c.8788e","type":"function","z":"a1730406.f49998","name":"Restore Final List","func":"//node.warn('@@@ test @@@');\nvar payload = msg.payload;\n\nif(payload){\n    //node.warn('TYPE : '+typeof(payload ));\n    //console.log(payload);\n    context.global.devices = JSON.parse(payload);\n}\n\nmsg.payload = context.global.tempRequestMsg;\n//context.global.tempRequestMsg = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["c6a94358.d6407"]]},{"id":"222a1ffb.af40a","type":"comment","z":"a1730406.f49998","name":"Final List is exist","info":"","x":370,"y":40,"wires":[]},{"id":"7b1816c.84e89e8","type":"comment","z":"a1730406.f49998","name":"Final List not exist","info":"","x":130,"y":140,"wires":[]},{"id":"5372ded5.9284e","type":"function","z":"a1730406.f49998","name":"Check final list","func":"var str = context.global['000000000501013e'];\n\n\nif(str){\n    node.log('000000000501013e data is exist');\n    node.log('data type : '+typeof(obj));\n    node.warn('000000000501013e data is  : '+context.global['000000000501013e']);\n}else{\n    node.log('000000000501013e data is not exist');\n}\nvar obj = JSON.pase(str);\nvar data = obj.data;\nnode.warn('000000000501013e data is  : '+data);\nvar ret = getTracker(data);\n\nfunction getTracker(raw) {\n\n    if (raw.length !== 34)  {\n      throw Error('Not a tracker data');\n    }\n    var buff = new Buffer(raw, 'hex');\n    var CustomerID = buff[0];\n    var ProductID = buff[1];\n    var DeviceType = buff[2];\n    var report = buff[3] & 0x1F   // 0x10 : report ; 0x11 : panic ; 0x12 : alarm\n    var operationID = buff[3] & 0x40  // 0x40 : auto-send\n\n    var gps_sta = (buff[7] & 0x80) ? \"1\" : \"0\";\n\n    /* latitude */\n    var north_flag = (buff[7] & 0x40) ? 1 : -1;\n\n    buff[7] &= 0x3F;\n    var lat = buff.readUInt32LE(4),\n        lat_degree = Math.floor(lat / 10000000),\n        lat_remainder = (lat % 10000000)/(60*100000);\n\n    lat = lat_degree + lat_remainder;\n    if(lat !== 0) {\n        lat *= north_flag;\n    }\n    /* longitude */\n    var east_flag = (buff[11] & 0x80) ? 1 : -1;\n    buff[11] &= 0x7F;\n    var lng = buff.readUInt32LE(8),\n        lng_degree = Math.floor(lng / 10000000),\n        lng_remainder = (lng % 10000000)/(60*100000);\n    lng = lng_degree + lng_remainder;\n    if(lng !== 0) {\n        lng *= east_flag;\n    }\n\n    /* GPS time */\n    var gps_day = ((buff[14] >> 2) & 0x1F).toString();\n    buff[14] &= 0x03;\n    var gps_time = (buff.readUInt32LE(12) & 0x3FFFF).toString();\n    if(gps_time.length === 5) {\n        gps_time = \"0\" + gps_time;\n    }\n\n    var ret = {\n        CustomerID : CustomerID,\n        ProductID  : ProductID,\n        DeviceType : DeviceType,\n        report     : report,\n        operationID: operationID,\n        GPS_STA    : gps_sta,\n        GPS_N      : lat,\n        GPS_E      : lng,\n        gps_day    : gps_day,\n        gps_time   : gps_time\n    };\n\n    if(report === 0x11) {\n        var panic_flag = (buff[16] & 0x01).toString();\n        ret.panic_flag = panic_flag;\n    }\n    else {\n        /* battery */\n        var battery = ( buff[16] * 10 + 3000 ) / 1000;\n        ret.BATL = battery.toString();\n    }\n\n    return ret;\n\n\n}","outputs":"2","noerr":0,"x":440,"y":760,"wires":[[],[]]},{"id":"718e8b40.d5b284","type":"inject","z":"a1730406.f49998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":760,"wires":[["5372ded5.9284e"]]},{"id":"4112ad7b.26c9e4","type":"debug","z":"a1730406.f49998","name":"","active":false,"console":"false","complete":"false","x":600,"y":40,"wires":[]},{"id":"668340d5.929d6","type":"websocket in","z":"33e2099.ff8c7f6","name":"web socket tools - in","server":"c0df8bf2.57c2d8","client":"","x":150,"y":300,"wires":[["63bad5f5.5a229c"]]},{"id":"63bad5f5.5a229c","type":"function","z":"33e2099.ff8c7f6","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    if(context.global.selectedType){\n\t    msg.payload = {id:\"init_btn\", v: context.global.selectedType };\n    }else{\n        msg.payload = {id:\"init_btn\", v: \"pir\" };\n    }\n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.payload=obj.v; \n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":440,"y":280,"wires":[["543922e2.37951c"],["4b72875c.bc77c8"]]},{"id":"4b72875c.bc77c8","type":"function","z":"33e2099.ff8c7f6","name":"Get Device Information","func":"var mType = msg.payload;\nvar mObj=context.global.devices[mType]; \nvar day = 24*60*60*1000;\nvar hour = 60*60*1000;\nvar mTimestamp = new Date().getTime();\nvar mItem = 1;\n\nvar connection_ok = \"<img src='/icons/connection_ok.png' width='30' height='30' name='status'>\";\nvar connection_fail = \"<img src='/icons/connection_fail.png' width='30' height='30' name='status'>\";\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var mac in mObj)\n{\n  console.log( mac + ': ' + (mObj[mac].timestamp)/day );\n \n  array.push(getArray(mObj[mac],mItem));\n  mItem++;\n}\n\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.mac);\n    arr.push(obj.recv);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    console.log('(mTimestamp :'+mTimestamp);\n    console.log('(obj.timestamp :'+obj.timestamp);\n    console.log('(mTimestamp :'+mTimestamp);\n    console.log((mTimestamp-obj.timestamp)/hour);\n    if( ((mTimestamp-obj.timestamp)/hour)>1  ){\n        arr.push(connection_fail);\n        //console.log('overtime = true');\n    }else{\n        arr.push(connection_ok);\n        //console.log('overtime = false');\n    }\n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}\n\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    dataString = null;\n}\nmsg.payload = {id:\"change_table\", v: dataString,type: mType}; \n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["543922e2.37951c"]]},{"id":"543922e2.37951c","type":"websocket out","z":"33e2099.ff8c7f6","name":"web socket mobiUI - out","server":"c0df8bf2.57c2d8","client":"","x":830,"y":280,"wires":[]},{"id":"65e196c9.0ed368","type":"comment","z":"33e2099.ff8c7f6","name":"Listen /tools","info":"","x":100,"y":20,"wires":[]},{"id":"27a4b1b4.57081e","type":"comment","z":"33e2099.ff8c7f6","name":"Listen /ws/tools","info":"","x":130,"y":260,"wires":[]},{"id":"d33505a6.6d6d38","type":"http in","z":"33e2099.ff8c7f6","name":"devices","url":"/devices","method":"get","swaggerDoc":"","x":100,"y":500,"wires":[["65f6669d.f83de8"]]},{"id":"4d59df4f.2575d","type":"template","z":"33e2099.ff8c7f6","name":"Tracker html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"\\assets\\js\\bootstrap-waitingfor.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"///cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js\"></script>\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n                var type ='{{payload.type}}';\n                var mac  ='{{payload.mac}}';\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n      \n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n\t\t\twaitingDialog.hide();\n\t\t\tdone();\n\t\t  }, 3000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Node admin</a>\n\n            </div>\n\n            <div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <ul class=\"user-menu\">\n          <li class=\"dropdown pull-right\">\n            <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n            <span class=\"caret\"></span></a>\n            \t<!--<ul class=\"user-menu\">\n                  <li class=\"dropdown pull-right\">\n                    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n                    <span class=\"caret\"></span></a>\n                    <ul class=\"dropdown-menu\" role=\"menu\">\n                      <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n                      <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n                      <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n                    </ul>\n                  </li>\n                </ul>-->\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n        \t\t\t<li class=\"text-center\">\n                    \t<img src=\"assets/img/find_user.jpg\" class=\"user-image img-responsive\"/>\n          \t\t\t</li>\n\n\n                    <li>\n                        <a  class=\"active-menu\" href=\"/tools\"><i class=\"fa fa-dashboard fa-3x\"></i> Home</a>\n                    </li>\n\n                    <li  >\n                        <a  href=\"/weather\"><i class=\"fa fa-edit fa-3x\"></i> Weather </a>\n                    </li>\n                </ul>\n\n            </div>\n\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                            <div class=\"col-md-6\">\n                            <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                        <div class=\"form-group\">\n                            <!--<div class=\"btn-group\">\n                                <button id=\"pir\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PIR</span>\n                                </button>\n                                <button id=\"gps\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">TRACKER</span>\n                                </button>\n                                <button id=\"pm25\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PM2.5</span>\n                                <button id=\"flood\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">FLOOD</span>\n                                </button>\n                            </div>-->\n                          </div>\n                      </div>\n                          <div class=\"col-md-6\">\n                              <!--<label class=\"fa fa-3x\" style=\"color:#428bca\" for=\"name\">{{{title}}}</label>-->\n                          </div>\n                          <div class=\"col-md-12\">\n                              &nbsp<br>\n                          </div>\n\n\n                            <div class=\"col-md-12 column\">\n\n                              <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>Receive time</th>\n                                        <th>Latitude</th>\n                                        <th>Longitude</th>\n                                        <th>GPS time</th>\n                                        <th>UL Rss/SNR</th>\n                                        <th>UL SF</th>\n                                        <th>Channel</th>\n                                        <th>ApId</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n\n                                      <tr>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                      </tr>\n\n                                  </tbody>\n                              </table>\n                            </div>\n\n                    </div>\n                </div>\n                 <!-- /. ROW  -->\n                 <hr />\n\n    </div>\n             <!-- /. PAGE INNER  -->\n            </div>\n         <!-- /. PAGE WRAPPER  -->\n        </div>\n     <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":840,"y":460,"wires":[["19866cc6.6c8a73"]]},{"id":"19866cc6.6c8a73","type":"http response","z":"33e2099.ff8c7f6","name":"","x":1050,"y":460,"wires":[]},{"id":"ce7feffc.902a","type":"websocket out","z":"33e2099.ff8c7f6","name":"web socket mobiUI - out","server":"59de4ec2.c688d","client":"","x":1310,"y":720,"wires":[]},{"id":"97109238.aea26","type":"function","z":"33e2099.ff8c7f6","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v.mac;\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":420,"y":620,"wires":[["14f7989f.82b257"]]},{"id":"7f77652f.5bb25c","type":"function","z":"33e2099.ff8c7f6","name":"Tracker Data","func":"//node.warn(msg.payload);\nvar ret = msg.payload.result;\n//node.warn('PIR Data : '+ret.length);\nvar mItem = 1;\n\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<ret.length;i++)\n{\n  //node.warn( ret + ': ' + ret[i] );\n \n  array.push(getArray(ret[i],mItem));\n  mItem++;\n  \n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\n\nnode.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\n\nreturn msg;\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    arr.push(obj.information.GPS_N);\n    arr.push(obj.information.GPS_E);\n    arr.push(obj.information.gps_time);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    \n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}","outputs":1,"noerr":0,"x":990,"y":900,"wires":[["ce7feffc.902a"]]},{"id":"c5064e41.d3a74","type":"websocket in","z":"33e2099.ff8c7f6","name":"web socket tools - in","server":"59de4ec2.c688d","client":"","x":130,"y":640,"wires":[["89f8dda0.ac708"]]},{"id":"d7c3e9dc.d290c8","type":"comment","z":"33e2099.ff8c7f6","name":"Listen /ws/devices","info":"","x":140,"y":580,"wires":[]},{"id":"f2bc8ab9.437218","type":"cloudant in","z":"33e2099.ff8c7f6","name":"Query test  by SNR","cloudant":"17756b05.5a75d5","database":"test","service":"_ext_","search":"_idx_","design":"info","index":"searchSNR","x":1110,"y":620,"wires":[[]]},{"id":"a1b8bae5.abd288","type":"cloudant in","z":"33e2099.ff8c7f6","name":"Query by mac","cloudant":"17756b05.5a75d5","database":"test","service":"_ext_","search":"_idx_","design":"app","index":"searchAll","x":690,"y":720,"wires":[["47c77bd5.88dd44"]]},{"id":"3b9dce3.223f932","type":"comment","z":"33e2099.ff8c7f6","name":"Listen /devices","info":"","x":130,"y":460,"wires":[]},{"id":"14f7989f.82b257","type":"function","z":"33e2099.ff8c7f6","name":"Query String","func":"//console.log(JSON.stringify(msg.req.query.mac));\nvar mac = msg.payload;\nmsg.payload  = \"mac:\"+mac+\"*&limit=100\";\n\nnode.warn('Query String : '+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":620,"wires":[["a1b8bae5.abd288"]]},{"id":"65f6669d.f83de8","type":"function","z":"33e2099.ff8c7f6","name":"Get type & mac","func":"//node.warn(JSON.stringify(msg.req.query.mac));\nvar mac = msg.req.query.mac;\nvar type = msg.req.query.type;\nmsg.payload.mac = mac;\nif(type === 'pir'){\n    msg.payload.typeStr = 'PIR';\n}else if(type === 'gps'){\n    msg.payload.typeStr = 'Tracker';\n}else if(type === 'flood'){\n    msg.payload.typeStr = 'Flood';\n}else if(type === 'pm25'){\n    msg.payload.typeStr = 'PM2.5';\n}\nmsg.payload.type = type;\n//node.warn('$$$$ msg.payload : '+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["3c523c8.d005bc4"]]},{"id":"7ec349c.d6247b8","type":"switch","z":"33e2099.ff8c7f6","name":"Type Switch","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"pir","vt":"str"},{"t":"eq","v":"gps","vt":"str"},{"t":"eq","v":"pm25","vt":"str"},{"t":"eq","v":"flood","vt":"str"}],"checkall":"true","outputs":4,"x":780,"y":880,"wires":[["ea44e2f0.7bbca"],["7f77652f.5bb25c"],["3fda5cb3.af1054"],["300fd628.72512a"]]},{"id":"75f21424.d3169c","type":"function","z":"33e2099.ff8c7f6","name":"Get type result","func":"var result = msg.payload;\nnode.warn('Get type result'+result.length);\nif(context.global.selectedType){\n\t    msg.payload = {type:context.global.selectedType,result:result };\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["7ec349c.d6247b8"]]},{"id":"3c523c8.d005bc4","type":"switch","z":"33e2099.ff8c7f6","name":"Type Switch","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"pir","vt":"str"},{"t":"eq","v":"gps","vt":"str"},{"t":"eq","v":"pm25","vt":"str"},{"t":"eq","v":"flood","vt":"str"}],"checkall":"true","outputs":4,"x":580,"y":500,"wires":[["6e5907d0.8f8438"],["4d59df4f.2575d"],["c4baef24.da44f"],["fb42ada8.54631"]]},{"id":"ea44e2f0.7bbca","type":"function","z":"33e2099.ff8c7f6","name":"PIR Data","func":"//node.warn(msg.payload);\nvar ret = msg.payload.result;\n//node.warn('PIR Data : '+ret.length);\nvar mItem = 1;\n\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<ret.length;i++)\n{\n  //node.warn( ret + ': ' + ret[i] );\n \n  array.push(getArray(ret[i],mItem));\n  mItem++;\n  \n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\n\nnode.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\n\nreturn msg;\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    arr.push(obj.information.trigger);\n    arr.push(obj.information.BATL);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    \n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}","outputs":1,"noerr":0,"x":970,"y":860,"wires":[["ce7feffc.902a"]]},{"id":"3fda5cb3.af1054","type":"function","z":"33e2099.ff8c7f6","name":"PM2.5 Data","func":"//node.warn(msg.payload);\nvar ret = msg.payload.result;\n//node.warn('PIR Data : '+ret.length);\nvar mItem = 1;\n\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<ret.length;i++)\n{\n  //node.warn( ret + ': ' + ret[i] );\n \n  array.push(getArray(ret[i],mItem));\n  mItem++;\n  \n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\n\nnode.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\n\nreturn msg;\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    arr.push(obj.information.value);\n    arr.push(obj.information.BATL);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    \n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}","outputs":1,"noerr":0,"x":980,"y":940,"wires":[["ce7feffc.902a"]]},{"id":"6e5907d0.8f8438","type":"template","z":"33e2099.ff8c7f6","name":"PIR html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"\\assets\\js\\bootstrap-waitingfor.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"///cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js\"></script>\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n                var type ='{{payload.type}}';\n                var mac  ='{{payload.mac}}';\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n      \n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n\t\t\twaitingDialog.hide();\n\t\t\tdone();\n\t\t  }, 3000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Node admin</a>\n\n            </div>\n\n            <div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <!--<ul class=\"user-menu\">\n                  <li class=\"dropdown pull-right\">\n                    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n                    <span class=\"caret\"></span></a>\n                    <ul class=\"dropdown-menu\" role=\"menu\">\n                      <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n                      <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n                      <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n                    </ul>\n                  </li>\n                </ul>-->\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n        \t\t\t<li class=\"text-center\">\n                    \t<img src=\"assets/img/find_user.jpg\" class=\"user-image img-responsive\"/>\n          \t\t\t</li>\n\n\n                    <li>\n                        <a  class=\"active-menu\" href=\"/tools\"><i class=\"fa fa-dashboard fa-3x\"></i> Home</a>\n                    </li>\n\n                    <li  >\n                        <a  href=\"/weather\"><i class=\"fa fa-edit fa-3x\"></i> Weather </a>\n                    </li>\n                </ul>\n\n            </div>\n\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                            <div class=\"col-md-6\">\n                            <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                        <div class=\"form-group\">\n                            <!--<div class=\"btn-group\">\n                                <button id=\"pir\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PIR</span>\n                                </button>\n                                <button id=\"gps\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">TRACKER</span>\n                                </button>\n                                <button id=\"pm25\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PM2.5</span>\n                                <button id=\"flood\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">FLOOD</span>\n                                </button>\n                            </div>-->\n                          </div>\n                      </div>\n                          <div class=\"col-md-6\">\n                              <!--<label class=\"fa fa-3x\" style=\"color:#428bca\" for=\"name\">{{{title}}}</label>-->\n                          </div>\n                          <div class=\"col-md-12\">\n                              &nbsp<br>\n                          </div>\n\n\n                            <div class=\"col-md-12 column\">\n\n                              <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>Receive time</th>\n                                        <th>Trigger</th>\n                                        <th>BATL</th>\n                                        <th>UL Rss/SNR</th>\n                                        <th>UL SF</th>\n                                        <th>Channel</th>\n                                        <th>ApId</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n\n                                      <tr>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                      </tr>\n\n                                  </tbody>\n                              </table>\n                            </div>\n\n                    </div>\n                </div>\n                 <!-- /. ROW  -->\n                 <hr />\n\n    </div>\n             <!-- /. PAGE INNER  -->\n            </div>\n         <!-- /. PAGE WRAPPER  -->\n        </div>\n     <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":830,"y":420,"wires":[["19866cc6.6c8a73"]]},{"id":"c4baef24.da44f","type":"template","z":"33e2099.ff8c7f6","name":"PM2.5 html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"\\assets\\js\\bootstrap-waitingfor.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"///cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js\"></script>\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n                var type ='{{payload.type}}';\n                var mac  ='{{payload.mac}}';\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n      \n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n\t\t\twaitingDialog.hide();\n\t\t\tdone();\n\t\t  }, 3000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Node admin</a>\n\n            </div>\n\n            <div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <!--<ul class=\"user-menu\">\n                  <li class=\"dropdown pull-right\">\n                    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n                    <span class=\"caret\"></span></a>\n                    <ul class=\"dropdown-menu\" role=\"menu\">\n                      <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n                      <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n                      <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n                    </ul>\n                  </li>\n                </ul>-->\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n        \t\t\t<li class=\"text-center\">\n                    \t<img src=\"assets/img/find_user.jpg\" class=\"user-image img-responsive\"/>\n          \t\t\t</li>\n\n\n                    <li>\n                        <a  class=\"active-menu\" href=\"/tools\"><i class=\"fa fa-dashboard fa-3x\"></i> Home</a>\n                    </li>\n\n                    <li  >\n                        <a  href=\"/weather\"><i class=\"fa fa-edit fa-3x\"></i> Weather </a>\n                    </li>\n                </ul>\n\n            </div>\n\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                            <div class=\"col-md-6\">\n                            <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                        <div class=\"form-group\">\n                            <!--<div class=\"btn-group\">\n                                <button id=\"pir\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PIR</span>\n                                </button>\n                                <button id=\"gps\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">TRACKER</span>\n                                </button>\n                                <button id=\"pm25\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PM2.5</span>\n                                <button id=\"flood\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">FLOOD</span>\n                                </button>\n                            </div>-->\n                          </div>\n                      </div>\n                          <div class=\"col-md-6\">\n                              <!--<label class=\"fa fa-3x\" style=\"color:#428bca\" for=\"name\">{{{title}}}</label>-->\n                          </div>\n                          <div class=\"col-md-12\">\n                              &nbsp<br>\n                          </div>\n\n\n                            <div class=\"col-md-12 column\">\n\n                              <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>Receive time</th>\n                                        <th>Value</th>\n                                        <th>BATL</th>\n                                        <th>UL Rss/SNR</th>\n                                        <th>UL SF</th>\n                                        <th>Channel</th>\n                                        <th>ApId</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n\n                                      <tr>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                      </tr>\n\n                                  </tbody>\n                              </table>\n                            </div>\n\n                    </div>\n                </div>\n                 <!-- /. ROW  -->\n                 <hr />\n\n    </div>\n             <!-- /. PAGE INNER  -->\n            </div>\n         <!-- /. PAGE WRAPPER  -->\n        </div>\n     <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":840,"y":500,"wires":[["19866cc6.6c8a73"]]},{"id":"fb42ada8.54631","type":"template","z":"33e2099.ff8c7f6","name":"Flood html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"\\assets\\js\\bootstrap-waitingfor.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"///cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js\"></script>\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n                var type ='{{payload.type}}';\n                var mac  ='{{payload.mac}}';\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n      \n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n\t\t\twaitingDialog.hide();\n\t\t\tdone();\n\t\t  }, 3000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Node admin</a>\n\n            </div>\n\n            <div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <!--<ul class=\"user-menu\">\n                  <li class=\"dropdown pull-right\">\n                    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n                    <span class=\"caret\"></span></a>\n                    <ul class=\"dropdown-menu\" role=\"menu\">\n                      <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n                      <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n                      <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n                    </ul>\n                  </li>\n                </ul>-->\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n        \t\t\t<li class=\"text-center\">\n                    \t<img src=\"assets/img/find_user.jpg\" class=\"user-image img-responsive\"/>\n          \t\t\t</li>\n\n\n                    <li>\n                        <a  class=\"active-menu\" href=\"/tools\"><i class=\"fa fa-dashboard fa-3x\"></i> Home</a>\n                    </li>\n\n                    <li  >\n                        <a  href=\"/weather\"><i class=\"fa fa-edit fa-3x\"></i> Weather </a>\n                    </li>\n                </ul>\n\n            </div>\n\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                            <div class=\"col-md-6\">\n                            <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                        <div class=\"form-group\">\n                            <!--<div class=\"btn-group\">\n                                <button id=\"pir\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PIR</span>\n                                </button>\n                                <button id=\"gps\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">TRACKER</span>\n                                </button>\n                                <button id=\"pm25\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">PM2.5</span>\n                                <button id=\"flood\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">FLOOD</span>\n                                </button>\n                            </div>-->\n                          </div>\n                      </div>\n                          <div class=\"col-md-6\">\n                              <!--<label class=\"fa fa-3x\" style=\"color:#428bca\" for=\"name\">{{{title}}}</label>-->\n                          </div>\n                          <div class=\"col-md-12\">\n                              &nbsp<br>\n                          </div>\n\n\n                            <div class=\"col-md-12 column\">\n\n                              <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>Receive time</th>\n                                        <th>Trigger</th>\n                                        <th>BATL</th>\n                                        <th>UL Rss/SNR</th>\n                                        <th>UL SF</th>\n                                        <th>Channel</th>\n                                        <th>ApId</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n\n                                      <tr>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                      </tr>\n\n                                  </tbody>\n                              </table>\n                            </div>\n\n                    </div>\n                </div>\n                 <!-- /. ROW  -->\n                 <hr />\n\n    </div>\n             <!-- /. PAGE INNER  -->\n            </div>\n         <!-- /. PAGE WRAPPER  -->\n        </div>\n     <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":840,"y":540,"wires":[["19866cc6.6c8a73"]]},{"id":"300fd628.72512a","type":"function","z":"33e2099.ff8c7f6","name":"Flood Data","func":"//node.warn(msg.payload);\nvar ret = msg.payload.result;\n//node.warn('PIR Data : '+ret.length);\nvar mItem = 1;\n\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<ret.length;i++)\n{\n  //node.warn( ret + ': ' + ret[i] );\n \n  array.push(getArray(ret[i],mItem));\n  mItem++;\n  \n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\n\nnode.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\n\nreturn msg;\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    arr.push(obj.information.trigger);\n    arr.push(obj.information.BATL);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    \n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}","outputs":1,"noerr":0,"x":980,"y":980,"wires":[["ce7feffc.902a"]]},{"id":"ab1d6ee1.91a8","type":"file","z":"33e2099.ff8c7f6","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":180,"y":380,"wires":[]},{"id":"aba27e2a.f6462","type":"function","z":"33e2099.ff8c7f6","name":"pir mustache","func":"\nvar selectedType;\nvar array = [];\nvar day = 24*60*60*1000;\nvar hour = 60*60*1000;\n//var mTimestamp = new Date(\"2016-12-24\").getTime();\nvar mTimestamp = new Date().getTime();\nvar type = 'pir';\nif(context.global.selectedType){\n    type = context.global.selectedType;\n}\nvar mObj=context.global.devices[type]; \n\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n//console.log( 'mTimestamp : '+mTimestamp);\nvar mItem = 1;\nfor (var mac in mObj)\n{\n  //console.log( mac + ': type' + typeof(mObj[mac]));\n  //console.log( mac + ': ' + (mObj[mac].timestamp)/day );\n  if( ((mTimestamp-mObj[mac].timestamp)/hour)>1  ){\n      mObj[mac].overtime = true;\n      //console.log('overtime = true');\n  }\n  //console.log( mac + ': ' + JSON.stringify(mObj[mac]) );\n  if(mItem<10){\n      mObj[mac].item = '0'+mItem;\n  }else{\n       mObj[mac].item = mItem.toString();\n  }\n \n  array.push(mObj[mac]);\n  mItem++;\n}\n\nmsg.payload = JSON.stringify(array);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":80,"wires":[["7ff57131.3705","e302bec.75abf4"]]},{"id":"e302bec.75abf4","type":"json","z":"33e2099.ff8c7f6","name":"","x":1070,"y":80,"wires":[["5ed0572c.9b2768"]]},{"id":"f5b3e0a1.629d1","type":"http in","z":"33e2099.ff8c7f6","name":"tools","url":"/tools","method":"get","swaggerDoc":"","x":70,"y":80,"wires":[["fcb2d4e8.18e058"]]},{"id":"5ed0572c.9b2768","type":"template","z":"33e2099.ff8c7f6","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n\t<!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js\"></script>\n    \n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n    \tconsole.log(\"NR mobi UI 1.1.a : Controls, Chart & Schedule\");\n        var type = \"pir\";\n    \tvar connected = false;\n    \tvar initBtnStr =\"#pir\";\n    \tvar table;\n     \tif(location.protocol==\"https:\"){\n    \t\tvar wsUri=\"wss://\"+window.location.hostname+\":1880/ws/tools\";\n    \t} else {\n    \t\tvar wsUri=\"ws://\"+window.location.hostname+\":1880/ws/tools\";\n    \t}\n    \tvar ws=null;\n\n    \tfunction wsConn() {\n    \t\tws = new WebSocket(wsUri);\n    \t\tws.onmessage = function(m) {\n    \t\t\t//console.log('< from-node-red:',m.data);\n    \t\t\tif (typeof(m.data) === \"string\" && m. data !== null){\n    \t\t\t\tvar msg =JSON.parse(m.data);\n    \t\t\t\tconsole.log(\"from-node-red : id:\"+msg.id);\n    \t\t\t\tif(msg.id === 'change_table'){\n    \t\t\t\t    //Remove init button active\n    \t\t\t\t    console.log(\"initBtnStr:\"+initBtnStr+\"remove active\");\n    \t\t\t\t    //$(initBtnStr).siblings().removeClass(\"active\");\n    \t\t\t\t    $(initBtnStr).addClass().siblings().removeClass(\"active\");\n    \t\t\t\t    //Reload table data\n    \t\t\t\t    //console.log(\"v type:\"+typeof(msg.v));\n    \t\t\t\t    table = $('#table1').dataTable();\n    \t\t\t\t    \n        \t\t\t    table.fnClearTable();\n        \t\t\t    var data = JSON.parse(msg.v);\n        \t\t\t    if(data){\n                \t\t    //console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                \t\t    table.fnAddData(data);\n                \t\t    table.$('tr').click(function() {\n        \t\t\t\t        var row=table.fnGetData(this);\n        \t\t\t\t        toSecondTable(row[1]);\n        \t\t\t\t    });\n        \t\t\t    }\n    \t\t\t\t}else if(msg.id === 'init_btn'){\n    \t\t\t\t    //Set init button active\n    \t\t\t\t    console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n    \t\t\t\t    type = msg.v;\n    \t\t\t\t    initBtnStr  ='#'+msg.v;\n    \t\t\t        console.log(\"button :\"+initBtnStr+\"active\");\n    \t\t\t        $(initBtnStr).addClass('active');\n        \t\t\t}\n    \t\t\t}\n    \t\t}\n    \t\tws.onopen = function() {\n\n    \t\t\tconnected = true;\n    \t\t\tvar obj = {\"id\":\"init\",\"v\":document.cookie};\n    \t\t\tvar getRequest = JSON.stringify(obj);\n    \t\t\tconsole.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n    \t\t\tconsole.log(\"ws.onopen : \"+ getRequest);\n    \t\t\tws.send(getRequest);\t\t\t// Request ui status from NR\n    \t\t\tconsole.log(getRequest);\n\n    \t\t}\n    \t\tws.onclose   = function()  {\n    \t\t\tconsole.log('Node-RED connection closed: '+new Date().toUTCString());\n    \t\t\tconnected = false;\n    \t\t\tws = null;\n    \t\t}\n    \t\tws.onerror  = function(){\n    \t\t\tconsole.log(\"connection error\");\n    \t\t}\n    \t}\n    \twsConn(); \t\t\t\t\t// connect to Node-RED server\n\n    \tfunction setButton(_id,_v){\t// update slider\n    \t\tmyselect = $(\"#\"+_id);\n    \t\t myselect.val(_v);\n    \t\t myselect.slider('refresh');\n    \t}\n\n    \tfunction myFunction(id){\t// update device\n    \t\tconsole.log(id);\n    \t\tif(ws){\n    \t\t    console.log(\"ws.onopen OK \");\n    \t\t}\n    \t\tconsole.log(\"id type : \"+ typeof(id)+\" : \"+id);\n    \t\ttype = id;\n    \t\tinitBtnStr = \"#\"+id;\n    \t\tvar obj = {\"id\":\"change_type\",\"v\":id};\n    \t\tvar objString = JSON.stringify(obj);\n    \t\tconsole.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n    \t\tconsole.log(\"ws.onopen : \"+ objString);\n    \t\tws.send(objString);\t\t\t// Request ui status from NR\n    \t\tconsole.log(\"sent change_type requeset\");\n\n    \t}\n\n    \tfunction toSecondTable(mac){\n    \t    //alert(\"mac :\"+mac);\n    \t    document.location.href=\"/devices?mac=\"+mac+\"&type=\"+type;\n    \t}\n\n\n      $(document).ready(function(){\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n  \t\t            }\n  \t       };\n          var opt2={\n               \"iDisplayLength\": 25\n  \t       };\n          //table = $(\"#table1\").dataTable(opt); //中文化\n          table = $(\"#table1\").dataTable(opt2);\n\n          table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           /*$(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Node admin</a>\n\n            </div>\n\n            <div style=\"padding: 15px 50px 5px 50px;float: right;\">\n            <!--<ul class=\"user-menu\">\n\t\t\t\t\t     <li class=\"dropdown pull-right\">\n\t\t\t\t\t\t    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n\t\t\t\t\t\t    <span class=\"caret\"></span></a>\n    \t\t\t\t\t\t<ul class=\"dropdown-menu\" role=\"menu\">\n    \t\t\t\t\t\t\t<li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n    \t\t\t\t\t\t\t<li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n    \t\t\t\t\t\t\t<li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n    \t\t\t\t\t\t</ul>\n\t\t\t\t\t     </li>\n\t\t\t\t    </ul>-->\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n\t\t\t\t<li class=\"text-center\">\n                    <img src=\"assets/img/find_user.jpg\" class=\"user-image img-responsive\"/>\n\t\t\t\t\t</li>\n\n\n                    <li>\n                        <a  class=\"active-menu\" href=\"/tools\"><i class=\"fa fa-dashboard fa-3x\"></i> Home</a>\n                    </li>\n\n                    <li  >\n                        <a  href=\"/weather\"><i class=\"fa fa-edit fa-3x\"></i> Weather </a>\n                    </li>\n                </ul>\n\n            </div>\n\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n\n                        <div class=\"col-md-6\">\n                            <h2>Type of devices:</h2>\n                    \t\t<div class=\"form-group\">\n                    \t\t    <div class=\"btn-group\">\n                    \t\t        <button id=\"pir\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">裝置1</span>\n                    \t\t        </button>\n                    \t\t        <button id=\"gps\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">裝置2</span>\n                    \t\t        </button>\n                    \t\t        <button id=\"pm25\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">裝置3</span>\n                    \t\t        <button id=\"flood\" class=\"btn btn-default\" onclick=\"myFunction(this.id)\"><span class=\"glyphicon\">裝置4</span>\n                    \t\t        </button>\n                    \t\t    </div>\n                        \t</div>\n                    \t</div>\n                        \t<div class=\"col-md-6\">\n                        \t    <label class=\"fa fa-3x\" style=\"color:#428bca\" for=\"name\">{{{title}}}</label>\n                        \t</div>\n                        \t<div class=\"col-md-12\">\n                        \t    &nbsp<br>\n                        \t</div>\n\n\n                            <div class=\"col-md-12 column\">\n\n                              <table id=\"table1\"  class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>MAC</th>\n                                        <th>Last Repor</th>\n                                        <th>UL Rss/SNR</th>\n                                        <th>Status</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n                                     {{#payload}}\n                                      <tr>\n                                        <td>{{{item}}}</td>\n                                        <td>{{{mac}}}</td>\n                                        <td>{{{recv}}}</td>\n                                        <td>{{{rssi}}}/{{{snr}}}</td>\n\n                                        <td>\n                                        {{#overtime}}\n                                        <img src=\"/icons/connection_fail.png\" width=\"ˇ30\" height=\"30\" name=\"status\">\n                                        {{/overtime}}\n                                        {{^overtime}}\n                                         <img src=\"/icons/connection_ok.png\" width=\"30\" height=\"30\" name=\"status\">\n                                        {{/overtime}}\n                                        </td>\n                                      </tr>\n                                      {{/payload}}\n                                  </tbody>\n                              </table>\n                            </div>\n\n                    </div>\n                </div>\n                 <!-- /. ROW  -->\n                 <hr />\n\n    </div>\n             <!-- /. PAGE INNER  -->\n            </div>\n         <!-- /. PAGE WRAPPER  -->\n        </div>\n     <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":1230,"y":80,"wires":[["87f9bc3e.b60c8"]]},{"id":"87f9bc3e.b60c8","type":"http response","z":"33e2099.ff8c7f6","name":"","x":1390,"y":80,"wires":[]},{"id":"7ff57131.3705","type":"debug","z":"33e2099.ff8c7f6","name":"","active":false,"console":"false","complete":"false","x":1090,"y":140,"wires":[]},{"id":"b7845c83.318da","type":"comment","z":"33e2099.ff8c7f6","name":"Final List is exist","info":"","x":790,"y":40,"wires":[]},{"id":"d05384f5.cb17f8","type":"comment","z":"33e2099.ff8c7f6","name":"Final List not exist","info":"","x":560,"y":140,"wires":[]},{"id":"c3b6e37a.21d9e","type":"function","z":"33e2099.ff8c7f6","name":"Restore Final List","func":"node.warn('@@@ test @@@');\nvar payload = msg.payload;\n\nif(payload){\n    node.warn('TYPE : '+typeof(payload ));\n    console.log(payload);\n    context.global.devices = JSON.parse(payload);\n}\n\nmsg.payload = context.global.tempRequestMsg;\ncontext.global.tempRequestMsg = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":180,"wires":[["aba27e2a.f6462"]]},{"id":"3ce2f06d.9b7cb","type":"file in","z":"33e2099.ff8c7f6","name":"Read File","filename":"data\\finalList.json","format":"utf8","x":570,"y":180,"wires":[["c3b6e37a.21d9e"]]},{"id":"92a779e5.b04578","type":"function","z":"33e2099.ff8c7f6","name":"Check final list","func":"if(context.global.devices){\n    return [msg,null];\n}else{\n    context.global.tempRequestMsg = msg;\n    return [null,msg]\n}\n","outputs":"2","noerr":0,"x":570,"y":80,"wires":[["aba27e2a.f6462"],["3ce2f06d.9b7cb"]]},{"id":"47c77bd5.88dd44","type":"function","z":"33e2099.ff8c7f6","name":"Parse(index data)","func":"\nvar debug = false;\nvar test = false;\nvar rows =msg.payload;\nnode.warn('Parse(view data) : '+rows.length);\nvar mType = context.global.selectedType;\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<rows.length;i++)\n{\n  array.push(getArray(mType,rows[i],mItem));\n  mItem++;\n  if(debug){\n    console.log( i + ': ' + JSON.stringify(rows[i]) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    console.log('arr = '+JSON.stringify(array));\n}\nnode.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(type,obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    \n    if(test){\n        arr.push(obj.mac);\n        arr.push(\"\");\n        arr.push(\"\");\n    }else if(type === 'gps'){\n        arr.push(obj.information.GPS_N);\n        arr.push(obj.information.GPS_E);\n        arr.push(\"-\");\n    }else if(type === 'pir' || type === 'flood'){\n        arr.push(obj.information.trigger);\n        arr.push(obj.information.BATL);\n    }else if(type === 'pm25'){\n        arr.push(obj.information.value);\n        arr.push(obj.information.BATL);\n    }\n \n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n    return arr ;\n}\n","outputs":1,"noerr":0,"x":990,"y":720,"wires":[["ce7feffc.902a"]]},{"id":"1ff9e509.98c0db","type":"comment","z":"33e2099.ff8c7f6","name":"Get IBM DB","info":"取得IBM Cloudant 資料庫資料","x":480,"y":580,"wires":[]},{"id":"89f8dda0.ac708","type":"function","z":"33e2099.ff8c7f6","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v.mac;\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":360,"y":1100,"wires":[["eed66f0b.79194"]]},{"id":"eed66f0b.79194","type":"function","z":"33e2099.ff8c7f6","name":"set index/view","func":"\nvar isIndex =true;\nvar mac = msg.payload;\n\nif(isIndex){\n    //index address\n    msg.url = \"https://hyper5798.cloudant.com/test/_design/app/_search/searchAll?q=mac:\"+mac+\"*&limit=200\"; \n    node.warn(msg.url);\n    return [msg,null];\n}else{\n    //view address\n \n    msg.url = 'http://localhost:5984/test/_design/gps/_view/mac?key=\"'+mac+'\"';\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":550,"y":1100,"wires":[["d52c6edb.92275"],["d70e7ad6.4c9a58"]]},{"id":"d52c6edb.92275","type":"http request","z":"33e2099.ff8c7f6","name":"GET","method":"GET","ret":"txt","url":"","tls":"","x":790,"y":1060,"wires":[["123eb1d6.b031be"]]},{"id":"54490ce5.ef4f64","type":"comment","z":"33e2099.ff8c7f6","name":"Get Apache Couch DB","info":"取得Apache Couch DB資料庫資料\n資料以view方式取得\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\nvar row = rows[i].value;","x":740,"y":1160,"wires":[]},{"id":"a8b01250.52674","type":"comment","z":"33e2099.ff8c7f6","name":"Old parse data","info":"","x":570,"y":840,"wires":[]},{"id":"ec86b567.791ea8","type":"comment","z":"33e2099.ff8c7f6","name":"New Parse Data","info":"","x":990,"y":680,"wires":[]},{"id":"12ed8592.3e025a","type":"function","z":"33e2099.ff8c7f6","name":"Parse(view data)","func":"var rows = 0;\nvar test = true;\nvar debug = false;\nvar payload = JSON.parse(msg.payload);\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\n\nvar type = context.global.selectedType;\nnode.warn('Parse(view data) type : '+type+\" , length : \"+rows.length);\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<rows.length;i++)\n{\n  array.push(getArray(rows[i].value,mItem));\n  \n  mItem++;\n  if(debug){\n    console.log( i + ': ' + JSON.stringify(rows[i].value) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    console.log('**** final array = '+JSON.stringify(array));\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    \n    if(test){\n        arr.push(obj.mac);\n        arr.push(\"\");\n        arr.push(\"\");\n    }else if(type === 'gps'){\n        arr.push(obj.information.GPS_N);\n        arr.push(obj.information.GPS_E);\n        arr.push(\"-\");\n    }else if(type === 'pir' || type === 'flood'){\n        arr.push(obj.information.trigger);\n        arr.push(obj.information.BATL);\n    }else if(type === 'pm25'){\n        arr.push(obj.information.value);\n        arr.push(obj.information.BATL);\n    }\n\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n   \n    return arr ;\n}\n","outputs":1,"noerr":0,"x":1000,"y":1120,"wires":[["ce7feffc.902a"]]},{"id":"123eb1d6.b031be","type":"function","z":"33e2099.ff8c7f6","name":"Parse(index data)","func":" \nvar rows = 0;\nvar test = false;\nvar debug = false;\nvar payload = JSON.parse(msg.payload);\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\nif(debug){\n    //console.log( 'Last Device Information \\n '+JSON.stringify( rows));\n}\n\nvar type = context.global.selectedType;\nnode.warn('Parse(index data) type : '+type+\" , length : \"+rows.length);\n\nvar mItem = 1;\nvar array = [];\n\n\nfor (var i=0;i<rows.length;i++)\n{\n  \n  \n  array.push(getArray(rows[i].fields,mItem));\n  mItem++;\n  if(debug){\n    console.log( 'rows['+i + '] : ' + JSON.stringify(rows[i].fields) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    console.log('arr = '+JSON.stringify(array));\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    \n    if(test){\n        arr.push(obj.mac);\n        arr.push(\"\");\n        arr.push(\"\");\n    }else if(type === 'gps'){\n        arr.push(obj.GPS_N);\n        arr.push(obj.GPS_E);\n        arr.push(\"-\");\n    }else if(type === 'pir' || type === 'flood'){\n        arr.push(obj.trigger);\n        arr.push(obj.BATL);\n    }else if(type === 'pm25'){\n        arr.push(obj.value);\n        arr.push(obj.BATL);\n    }\n \n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n    return arr ;\n}\n","outputs":1,"noerr":0,"x":1010,"y":1060,"wires":[["ce7feffc.902a"]]},{"id":"d70e7ad6.4c9a58","type":"http request","z":"33e2099.ff8c7f6","name":"GET","method":"GET","ret":"txt","url":"","tls":"","x":790,"y":1120,"wires":[["12ed8592.3e025a"]]},{"id":"6bcc754e.e9e48c","type":"comment","z":"33e2099.ff8c7f6","name":"Get IBM Cloudant DB","info":"取得IBM Cloudant DB資料庫資料\n資料以index方式取得\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\nrow = rows[i].fields","x":740,"y":1020,"wires":[]},{"id":"fcb2d4e8.18e058","type":"function","z":"33e2099.ff8c7f6","name":"","func":" var req = msg.req;\n \nconsole.log(msg.req);\n \n if( msg.req.cookies ){\n    //msg.req.cookies.user = null;\n    node.warn('cookies is exist');\n}else{\n    //msg.req.cookies.user = 'test';\n    node.warn('cookies is not exist');\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["92a779e5.b04578"]]},{"id":"d740c9cf.cd6618","type":"ui_gauge","z":"da1533b5.938b3","name":"溫度表","group":"cfa3b6e.0307048","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1010,"y":300,"wires":[]},{"id":"b0979d23.cc545","type":"function","z":"da1533b5.938b3","name":"same Id check","func":"var payload = JSON.parse(msg.payload);  // for MQTT\n//console.log(\"payload type: \"+typeof(payload ));        //JSON Object\n//console.log(\"msg.payload type: \"+typeof(msg.payload));//Message string\n\nif(!context.global.Ids){\n    context.global.Ids = {};\n}\n\n//Get element\nvar mId   = payload.id;\nvar mData = payload.data;\nvar mType = mData.substring(0,4);\nvar mRecv = payload.recv;\nvar mMac  = payload.macAddr;\n\n\nif(mType === 'aa01' || mType === 'aa02'){\n    var id = '';\n\n    if(context.global.Ids[mType]){\n        id = context.global.Ids[mType];\n    }\n    \n    node.warn('id :'+mId +' , check id :'+id);\n    \n    //Find same id than reject\n    if(id === '' || mId != id){\n        context.global.Ids[mType] = mId;\n    }else{\n        return;\n    }\n    \n    msg.payload = {mac:mMac,data:mData,recv:mRecv,type:mType};\n    node.warn(JSON.stringify(msg.payload));\n    \n    return msg;\n}else{\n    return;\n}\n\n\n","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["1feff537.d2238b"]]},{"id":"6a6f332a.fb8b7c","type":"mqtt in","z":"da1533b5.938b3","name":"MQTT_200000206","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"fba8443.8589db8","x":130,"y":80,"wires":[["b0979d23.cc545","9be68620.78e7a8"]]},{"id":"788f8f8b.17fca","type":"function","z":"da1533b5.938b3","name":"tempature","func":"\nmsg= {payload:msg.payload.information.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":801.0000610351562,"y":344.0000305175781,"wires":[["d740c9cf.cd6618","4d15d589.d94e3c"]]},{"id":"4d15d589.d94e3c","type":"ui_chart","z":"da1533b5.938b3","name":"線性圖","group":"cfa3b6e.0307048","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1006.0000610351562,"y":339.00001525878906,"wires":[[],[]]},{"id":"358539c8.796cb6","type":"function","z":"da1533b5.938b3","name":"humidity","func":"\nmsg= {payload:msg.payload.information.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":801.0000915527344,"y":458,"wires":[["17e8dd7.3259323","542d52e3.f0d91c"]]},{"id":"542d52e3.f0d91c","type":"ui_gauge","z":"da1533b5.938b3","name":"濕度表","group":"604b7559.cd36ac","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1008.0000610351562,"y":415,"wires":[]},{"id":"17e8dd7.3259323","type":"ui_chart","z":"da1533b5.938b3","name":"濕度線性圖","group":"604b7559.cd36ac","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1020.0000915527344,"y":460,"wires":[[],[]]},{"id":"9be68620.78e7a8","type":"debug","z":"da1533b5.938b3","name":"","active":true,"console":"false","complete":"payload","x":350,"y":80,"wires":[]},{"id":"6166e370.c60e7c","type":"function","z":"da1533b5.938b3","name":"presure","func":"\nmsg= {payload:msg.payload.information.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":801.8958435058594,"y":132.2222137451172,"wires":[["1a86f1c4.76f3ee","36d520c.93d34e"]]},{"id":"8a12f76.643fb08","type":"function","z":"da1533b5.938b3","name":"light","func":"\nmsg= {payload:msg.payload.information.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":796.8958435058594,"y":252.22219848632812,"wires":[["937cb2ae.ecd13","9ced2cc.dc856d"]]},{"id":"d5a171a4.c0156","type":"function","z":"da1533b5.938b3","name":"uv","func":"\nmsg= {payload:msg.payload.information.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":799.3244380950928,"y":586.2222537994385,"wires":[["e9c1c515.432a28","400929bb.cbe898"]]},{"id":"53ddf114.c1efd","type":"function","z":"da1533b5.938b3","name":"rain","func":"\nmsg= {payload:msg.payload.information.rain};\n\nreturn msg;","outputs":"1","noerr":0,"x":797.7529716491699,"y":719.222188949585,"wires":[["29dcf660.f9563a","f8f7fe2a.00e54"]]},{"id":"1feff537.d2238b","type":"switch","z":"da1533b5.938b3","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"aa01","vt":"str"},{"t":"eq","v":"aa02","vt":"str"}],"checkall":"true","outputs":2,"x":157.75009155273438,"y":496.15625,"wires":[["6c3d0740.f8bf98"],["232521ba.7023be"]]},{"id":"6c3d0740.f8bf98","type":"function","z":"da1533b5.938b3","name":"aa01 parse","func":"\n\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa01 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 22)  {\n      throw Error('Not a aa01 data');\n    }\n    var mPressure = parseInt(raw.substring(6,10),16);       //氣壓\n    var mHight = parseInt(raw.substring(10,14),16);    　   //高度\n    var mTemperature = parseInt(raw.substring(14,16),16);   //溫度\n    var mHumidity = parseInt(raw.substring(16,18),16);      //濕度\n    var mLight = parseInt(raw.substring(18,22),16);         //照明  \n\n    var ret = {\n        pressure    : mPressure,\n        temperature : mTemperature,\n        humidity    : mHumidity,\n        light       : mLight\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":327.7579040527344,"y":350.3828125,"wires":[["6166e370.c60e7c","8a12f76.643fb08","788f8f8b.17fca","358539c8.796cb6"]]},{"id":"232521ba.7023be","type":"function","z":"da1533b5.938b3","name":"aa02 parse","func":"\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa02 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 14)  {\n      throw Error('Not a aa02 data');\n    }\n\n    var mUV = parseInt(raw.substring(6,10),16);            //紫外線\n    var mRain = 1023-parseInt(raw.substring(10,14),16);         //雨滴\n\n    var ret = {\n        uv    : mUV,\n        rain  : mRain\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":333.3650779724121,"y":591.9519987106323,"wires":[["d5a171a4.c0156","53ddf114.c1efd"]]},{"id":"1a86f1c4.76f3ee","type":"ui_gauge","z":"da1533b5.938b3","name":"壓力表","group":"90fb6e7c.e230c","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1015.5078964233398,"y":93.5234375,"wires":[]},{"id":"36d520c.93d34e","type":"ui_chart","z":"da1533b5.938b3","name":"線性圖","group":"90fb6e7c.e230c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1009.5079650878906,"y":134.52345275878906,"wires":[[],[]]},{"id":"937cb2ae.ecd13","type":"ui_gauge","z":"da1533b5.938b3","name":"照明表","group":"efe2ac74.39674","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":1011.5079650878906,"y":210.5234375,"wires":[]},{"id":"9ced2cc.dc856d","type":"ui_chart","z":"da1533b5.938b3","name":"照明線性圖","group":"efe2ac74.39674","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1023.5079956054688,"y":255.5234375,"wires":[[],[]]},{"id":"e9c1c515.432a28","type":"ui_gauge","z":"da1533b5.938b3","name":"UV表","group":"eccbcc9f.bb681","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1015.2292709350586,"y":554.6824932098389,"wires":[]},{"id":"400929bb.cbe898","type":"ui_chart","z":"da1533b5.938b3","name":"UV線性圖","group":"eccbcc9f.bb681","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1014.0864105224609,"y":619.3968124389648,"wires":[[],[]]},{"id":"29dcf660.f9563a","type":"ui_gauge","z":"da1533b5.938b3","name":"雨滴表","group":"c4af6e6f.3b2dd","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1003.2292785644531,"y":721.111083984375,"wires":[]},{"id":"f8f7fe2a.00e54","type":"ui_chart","z":"da1533b5.938b3","name":"雨滴線性圖","group":"c4af6e6f.3b2dd","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1015.2293090820312,"y":766.111083984375,"wires":[[],[]]},{"id":"3730993.cfd1c66","type":"http response","z":"33e2099.ff8c7f6","name":"","x":650,"y":1300,"wires":[]},{"id":"36b90666.dbc2ea","type":"debug","z":"33e2099.ff8c7f6","name":"","active":true,"console":"false","complete":"false","x":380,"y":1180,"wires":[]},{"id":"beb2b1b2.ef7f6","type":"http in","z":"33e2099.ff8c7f6","name":"weather","url":"/weather","method":"get","swaggerDoc":"","x":180,"y":1300,"wires":[["cbf7b9f1.dc4ea8"]]},{"id":"cbf7b9f1.dc4ea8","type":"template","z":"33e2099.ff8c7f6","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n    <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n        <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n     <!-- GOOGLE FONTS-->\n   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"/tools\">Node admin</a>\n\n            </div>\n\n            <div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <!--<ul class=\"user-menu\">\n                  <li class=\"dropdown pull-right\">\n                    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n                    <span class=\"caret\"></span></a>\n                    <ul class=\"dropdown-menu\" role=\"menu\">\n                      <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n                      <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n                      <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n                    </ul>\n                  </li>\n                </ul>-->\n            </div>\n\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n        \t\t\t<li class=\"text-center\">\n                    \t<img src=\"assets/img/find_user.jpg\" class=\"user-image img-responsive\"/>\n          \t\t\t</li>\n\n\n                    <li>\n                        <a href=\"/tools\"><i class=\"fa fa-dashboard fa-3x\"></i> Home</a>\n                    </li>\n\n                    <li  >\n                        <a class=\"active-menu\" href=\"/weather\"><i class=\"fa fa-edit fa-3x\"></i> Weather </a>\n                    </li>\n                </ul>\n\n            </div>\n\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                     \t<iframe src=\"http://localhost:1880/ui/#/0\" width=\"100%\" height=\"1200\" frameborder=\"1\" scrolling=\"no\"></iframe>\n\n                    </div>\n                </div>\n                 <!-- /. ROW  -->\n                 <hr />\n\n    </div>\n             <!-- /. PAGE INNER  -->\n            </div>\n         <!-- /. PAGE WRAPPER  -->\n        </div>\n     <!-- /. WRAPPER  -->\n    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"/assets/js/jquery-1.10.2.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n\n\n</body>\n</html>\n","x":410,"y":1300,"wires":[["3730993.cfd1c66"]]}]